<div class="container rounded" style="border-radius:10px;">
  <p class="text-dark" style="font-size:20px;"><b><%= @workout.name %></b></p>
  <p class="text-dark">Address: <%= @workout.address %></p>
</div>
