@import "home";

.div1 {
  width: 50%;
  float: left;
  color: #CEFE91;
}

.div2 {
  width: 50%;
  float: right;
  color: #CEFE91;
}

h4 {
  color: #CEFE91;
}

.hello {
  width: 50%;
  float: left;
  color: #CEFE91;
  text-decoration: underline#CEFE91;
}

.hello2 {
  text-decoration: underline #CEFE91;;
}

.paragrafo {
  justify-content: left;
  padding: 6px;
}
