@import "home";
// @import 'toggle';
.div1 {
  width: 50%;
  float: left;
  color: #CEFE91;
}

.div2 {
  width: 50%;
  float: right;
  color: #CEFE91;
}

.toggleDiv {
  display: none;
  padding: 10px;
  border: 1px solid #CEFE91;
  cursor: pointer;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}
