// Specific CSS for your home-page
@import "config/fonts";
@import "config/colors";
@import "components/signupbuttons";

.header {
  font-family: "Poppins";
  color: #CEFE91;
}
body, p, a {
  font-family: "Roboto";
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
h1 {
  color: #CEFE91;
}

.logoclass {
  max-width: 50vw;
  height: 30vh;
  height: auto;
  margin: 0 auto;
}

.pfind {
  color: #f6f7f5;
  text-decoration: none;
  font-size: larger;
  font-family:'Poppins';
}

.btn-green {
  font-size: 20px;
  
}
