@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


.body-home::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #cefe91, #000 43%, #343a40);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 7.5s linear infinite;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
