<div class="profile-card-avatar  mb-4">
  <img id="avatar2" src="<%= cl_image_path current_user.photo.key %>" />
      <div class="card-product-infos2">
        <div class="container d-flex">
        <p> <b>Hello, <%= current_user.first_name %> <%= current_user.last_name %></b> 💪
        <i class="fa-regular fa-pen-to-square"></i></p>
        </div>
      </div>
</div>

        <div class="card-profile2 d-flex">
        <i class="fa-solid fa-trophy icon-profile2"></i>
        <div class="space", style="width:10px"></div>
        <div class="card-profile-body2 ">Congratulations on your 5th class!</div>
        </div>
