
<div class="profile-card-avatar  mb-4">
  <img id="avatar2" src="<%= cl_image_path current_user.photo.key %>" />
      <div class="card-product-infos2">
        <div class="container d-flex">
        <p> <b>Hello, <%= current_user.first_name %> <%= current_user.last_name %></b> 💪
        <i class="fa-regular fa-pen-to-square"></i></p>
        </div>
      </div>
</div>
