<div class="container">
  <div class="card-profile">
    <i class="fa-solid fa-info icon-profile"></i>
    <div class="card-profile-body">Your details</div>
    <i class="fa-solid fa-chevron-right chevron-profile ms-auto"></i>
  </div>
  <br>
  <div class="card-profile">
    <i class="fa-regular fa-calendar icon-profile"></i>
    <div class="card-profile-body">Classes</div>
    <i class="fa-solid fa-chevron-right chevron-profile ms-auto"></i>
  </div>
  <br>
  <div class="card-profile">
    <i class="fa-regular fa-heart icon-profile"></i>
    <div class="card-profile-body">Favourites</div>
    <i class="fa-solid fa-chevron-right chevron-profile ms-auto"></i>
    </div>
  <br>
  <div class="card-profile">
    <i class="fa-solid fa-user-group icon-profile"></i>
    <div class="card-profile-body">Friends</div>
    <i class="fa-solid fa-chevron-right chevron-profile ms-auto"></i>
    </div>
  <br>
  <div class="card-profile">
    <i class="fa-solid fa-trophy icon-profile"></i>
    <div class="card-profile-body">Awards</div>
    <i class="fa-solid fa-chevron-right chevron-profile ms-auto"></i>
</div>
  <br>
