<div class="container">
  <div class="card-profile">
    <i class="fa-solid fa-info icon-profile"></i>
    <div class="card-profile-body">Your details</div>
  </div>
  <br>
  <div class="card-profile">
    <i class="fa-regular fa-calendar icon-profile"></i>
    <div class="card-profile-body">Classes</div>
  </div>
  <br>
  <div class="card-profile">
    <div class="card-profile-body">Favourites</div>
    </div>
  <br>
  <div class="card-profile">
    <div class="card-profile-body">Friends</div>
    </div>
  <br>
  <div class="card-profile">
    <div class="card-profile-body">Awards</div>
</div>
  <br>

</body>
</html>
