<nav class="top-navbar">
 <ul class="nav-list d-flex">
 <div class="space", style= "width:0px">
    </div>
    <div class="back-button" >
      <%= link_to " Back", :back, class:"fa-solid fa-chevron-left", style: "color:white"%>
    </div>
    <div class="space", style= "width:61px">
    </div>
    <%= image_tag 'fs.png', class: "avatar logoclass2 d-flex justify-content-center" %>
  </ul>
</nav>
