<nav class="mobile-navbar fixed-bottom">
  <ul class="nav-list">
    <li> <a href="#"><i class="fa-solid fa-chart-line" style="color: #CEFE91;"></i></a></li>
    <li><a href="#"><i class="fa-solid fa-utensils" style="color: #CEFE91;"></i></a></li>
    <li><a href="<%= all_workouts_path %>"><i class="fa-solid fa-dumbbell" style="color:  #CEFE91;"></i></a></li>
    <li><a href="<%= profile_path %>"><i class="fa-solid fa-user" style="color: #CEFE91;;"></i></a></li>
  </ul>
</nav>
