<div class="container d-flex mb-4 mt-4 searchbar">
    <div class="searchbar">
      <%= form_with url: all_workouts_path, method: :get, class: "d-flex" do %>
        <input type="text" id="query" name="query" placeholder="&#xF002; Search for your favourite sport or instructor.." style="Font Awesome 5 Free" />
        <% end %>
    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
</div>
