<div class= "justify-content-center m-0">
  <div class= "container-2 m-0">
    <div class= "img-container-3" style= "background-image: url('<%= cl_image_path @workout.photo.key %>'); background-size: cover; background-position: center; width:100vw; margin:0;">
      <h3 class= "text-white"><%= @workout.name %></h3>
      </div>
    </div>
</div>
