<%= render "shared/navbar2" %>
<div class="container d-flex  vh-100 justify-content-center body-home">
  <div class="row justify-content-between align-items-center bg-dark m-4">
  <div class="d-flex p-4" style="gap:20px; flex-direction:column;">
      <h1 class="text-center"> <b>Welcome to the FitSeek family!</b></h1>

  <p> <i class="fa-solid fa-money-check-dollar" style="color: #CEFE91;"></i></i> Cost of class: FS $200</p>
    <p> <i class="fa-solid fa-plus" style="color: #CEFE91;"></i> Per class attendance:  FS $10</p>
    <p><i class="fa-solid fa-minus" style="color: #C71F1F;"></i> When class is cancelled: FS $10</p>
    <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i> The way to book a class is to purchase FitSeek dollars. But don’t worry we charge you no fees and offer Apple Pay so that this process is as simple as possible!</p>
    <p><i class="fa-solid fa-cart-shopping" style="color: #CEFE91;"></i> Rate of Exchange:</p>
    <p><i class="fa-solid fa-euro-sign"></i> EUR 1 = FS $ 10</p>
    <a class= "text-center" href="#">For a refund of your balance into your bank account, press here!</a>
    <button class="loginbutton"> Buy $fitseek dollars</button>
</div>

  </div>
</div>
<%= render "shared/navbar" %>
