<div class= "text-white container col-12">
    <div class= "d-flex justify-content-center mt-5">
      <%= image_tag 'fitseeklogo' %>
    </div>
    <div class="d-flex justify-content-center mt-1">
      <p>Find your next workout!</p>
    </div>
    <div class="d-flex justify-content-center mt-5">
    <a href="<%= user_session_path %>" class="btn btn-green form-control p-3"><strong>Get started!</a></strong>

    </div>
</div>
