<%= render "shared/navbar2" %>
<div id="mlb2-7545128" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-7545128">
      <div class="ml-form-align-center ">
        <div class="ml-form-embedWrapper embedForm">


          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">

            <div class="ml-form-embedContent" style=" ">

                <h6>REFER A FRIEND AND EARN 10 FITSEEK DOLLARS!</h6>
                <p>Enter the details below to<strong><strong> <u>get 10 FSD.</u></strong></strong></p>
            </div>

            <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/587261/forms/98574091379804075/subscribe" data-code="" method="post" target="_blank">
              <div class="ml-form-formContent">



                  <div class="ml-form-fieldRow ">
                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">




                      <!-- input -->
                      <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="What's your friend email?" autocomplete="email">
                      <!-- /input -->

                      <!-- textarea -->

                      <!-- /textarea -->

                      <!-- select -->

                      <!-- /select -->

                      <!-- checkboxes -->

            <!-- /checkboxes -->

                      <!-- radio -->

                      <!-- /radio -->

                      <!-- countries -->

                      <!-- /countries -->





                    </div>
                  </div><div class="ml-form-fieldRow ml-last-item">
                    <div class="ml-field-group ml-field-name ml-validate-required">




                      <!-- input -->
                      <input aria-label="name" aria-required="true" type="text" class="form-control" data-inputmask="" name="fields[name]" placeholder="What's your name?" autocomplete="given-name">
                      <!-- /input -->

                      <!-- textarea -->

                      <!-- /textarea -->

                      <!-- select -->

                      <!-- /select -->

                      <!-- checkboxes -->

            <!-- /checkboxes -->

                      <!-- radio -->

                      <!-- /radio -->

                      <!-- countries -->

                      <!-- /countries -->





                    </div>
                  </div>

              </div>



              <!-- Privacy policy -->
              <!-- /Privacy policy -->


              <input type="hidden" name="ml-submit" value="1">

              <div class="ml-form-embedSubmit">

                  <button type="submit" class="primary">Submit!</button>

                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>


              <input type="hidden" name="anticsrf" value="true">
            </form>
          </div>

          <div class="ml-form-successBody row-success" style="display: none">

            <div class="ml-form-successContent">

                <h4>Thank you!</h4>

                  <p>You have successfully joined our subscriber list.</p>


            </div>

          </div>
        </div>
      </div>
    </div>

  <script>
    function ml_webform_success_7545128() {
    try {
        window.top.location.href = 'https://www.fitseek.co.uk/fitseek_info';
      } catch (e) {
        window.location.href = 'https://www.fitseek.co.uk/fitseek_info';
      }
    }
      </script>



      <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v1f25ee4b05f240a833e02c19975434a4" type="text/javascript"></script>
        <script>
            fetch("https://assets.mailerlite.com/jsonp/587261/forms/98574091379804075/takel")
        </script>
<%= render "shared/navbar" %>
