body{
  background-image: url(https://res.cloudinary.com/dxl592x6b/image/upload/v1693323438/background-img_fitseek_w9b0pf.png);
  background-position: center;
  background-size: cover;
}

section {
  min-height: 100vh;
}

.btn-green {
  color: #10130d ;
  background-color:#CEFE91;
  border-radius: 10px;
}

.header {
  font-family: "Poppins";
}
.body, p, a {
  font-family: "Roboto";
  text-decoration: none;
}

a {
  color: #CEFE91;
}

.container-max-widths {
  width: 75%;
  margin: auto;
  display: block;
  margin-top: 175px;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  opacity: 0.5;
  color: rgb(166, 60, 60);
}
