.card-profile {
  color: #CEFE91;
  background-color: #353734;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90%;
  border-radius: 10px;
  padding: 15px;
 }

 .icon-profile {
  color: #CEFE91;
  margin-top: 2px;
 }

 .card-profile-body{
  margin-left: 5%;
 }

 .chevron-profile {
  color: #CEFE91;
  margin-top: 3px;
 }
