.loginbutton {
  background-color: #CEFE91;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
  opacity: 80%;
  cursor: pointer;
}

.loginbutton:hover {
  opacity: 100%;
  text-decoration: none;
  color: black;
box-shadow: 2px 2px rgb(66, 223, 71);}
