.loginbutton {
  background-color: #D8FD9E;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
}

.loginbutton:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

