.top-navbar {
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  opacity: 95%;
  height: 14vh;
}

.top-navbar li {
  display: inline-block;
}

.avatar3 {
  width: 40px;
  border-radius: 50%;
}

.avatar4 {
  width: 30px;
  border-radius: 50%;
}
