.mobile-navbar {
  background-color: #444;
  bottom: 0;
  display: block;
  width: 100vw;
}

.nav-list {
  list-style: none;
  padding: 5px;
  margin: 0;
  text-align: center;
  justify-content: space-around;
}


.nav-list li {
  display: inline-block;
}

.nav-list li a {
  text-decoration: none;
  padding: 7px 20px;
  display: block;
  color: #CEFE91;
  display: flex;
  text-align: center;
  justify-content: center;
}
