.mobile-navbar {
  background-color: #444;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 999;
  position: fixed;
  left: 0;
}

.nav-list {
  list-style: none;
  padding: 5px;
  margin: 0;
  text-align: center;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}

.nav-list li {
  display: inline-block;
  font-size: 30px;
}

.nav-list li a {
  text-decoration: none;
  padding: 7px 20px;
  display: block;
  color: #CEFE91;
  display: flex;
  text-align: center;
  justify-content: center;
}
